.container {
  margin: auto;
  max-width: 450px;
  font-family: verdana;
}
.heading {
  color: rebeccapurple;
}

.page-navigation {
	display: flex;
    flex-wrap: wrap;
	padding: 10px;
	width: 400px;
}

.page-navigation-space {
	width: 10px;
}

.page-navigation-link {
     padding: 10px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: underline;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid #555;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 2px;
 }
.nav-link-item {  
  margin: 5px;
 }
.nav-link-text {
  color: black;
}


.categories-nav-links {
  list-style: none;
  padding: 5px;
  
}
.categories-nav-link-item {
  margin: 10px;
 }
.categories-nav-link-text {
  color: green;
}

.tags-nav-links {
  list-style: none;
  padding: 5px;
  
}
.tags-nav-link-item {
  margin: 10px;
 }
.tags-nav-link-text {
  color: grey;
}



.post-categories-nav-links {
  display: flex;
  list-style: none;
  padding: 1px;
  
}
.post-categories-nav-link-item {
  margin: 3px;
 }
.post-categories-nav-link-text {
  color: green;
}

.post-tags-nav-links {
  display: flex;
  list-style: none;
  padding: 1px;
  
}
.post-tags-nav-link-item {
  margin: 3px;
 }
.post-tags-nav-link-text {
  color: grey;
}