.container {
  margin: auto;
  max-width: 450px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
 }
.nav-link-text {
  color: black;
}


.tags-nav-links {
  list-style: none;
  padding: 5px;
  
}
.tags-nav-link-item {
  margin: 10px;
 }
.tags-nav-link-text {
  color: grey;
}


.post-tags-nav-links {
  display: flex;
  list-style: none;
  padding: 1px;
  
}
.post-tags-nav-link-item {
  margin: 5px;
 }
.post-tags-nav-link-text {
  color: grey;
}